@model ASPFINAL.Models.WorkHour

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkHour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weekno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weekno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
